<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokemonTCGApp.Properties.BWPromo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PokemonTCGApp.Properties.Generations" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PokemonTCGApp.Properties.XYPromo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PokemonTCGApp.Card_Set_Settings.XYPromo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PokemonTCGApp.Properties.BWPromo>
            <setting name="PKMN_0" serializeAs="String">
                <value>false</value>
            </setting>
        </PokemonTCGApp.Properties.BWPromo>
        <PokemonTCGApp.Properties.Generations>
            <setting name="PKMN_0" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_1" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_2" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_3" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_4" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_5" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_6" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_7" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_8" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_9" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_10" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_11" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_12" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_13" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_14" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_15" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_16" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_17" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_18" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_19" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_20" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_21" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_22" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_23" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_24" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_25" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_26" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_27" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_28" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_29" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_30" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_31" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_32" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_33" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_34" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_35" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_36" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_37" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_38" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_39" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_40" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_41" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_42" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_43" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_44" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_45" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_46" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_47" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_48" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_49" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_50" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_51" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_52" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_53" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_54" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_55" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_56" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_57" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_58" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_59" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_60" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_61" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_62" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_63" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_64" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_65" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_66" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_67" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_68" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_69" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_70" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_71" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_72" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_73" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_74" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_75" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_76" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_77" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_78" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_79" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_80" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_81" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_82" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_83" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_84" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_85" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_86" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_87" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_88" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_89" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_90" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_91" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_92" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_93" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_94" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_95" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_96" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_97" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_98" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_99" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_100" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_101" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_102" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_103" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_104" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_105" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_106" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_107" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_108" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_109" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_110" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_111" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_112" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_113" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_114" serializeAs="String">
                <value>false</value>
            </setting>
        </PokemonTCGApp.Properties.Generations>
        <PokemonTCGApp.Properties.XYPromo>
            <setting name="PKMN_1" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_0" serializeAs="String">
                <value>false</value>
            </setting>
        </PokemonTCGApp.Properties.XYPromo>
        <PokemonTCGApp.Card_Set_Settings.XYPromo>
            <setting name="PKMN_0" serializeAs="String">
                <value>false</value>
            </setting>
            <setting name="PKMN_1" serializeAs="String">
                <value>false</value>
            </setting>
        </PokemonTCGApp.Card_Set_Settings.XYPromo>
    </userSettings>
</configuration>